<%- include('header') %>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.update-delete{
  color: rgb(39, 38, 38);
  text-decoration: none;
  border-style: inset;
}
.update-delete:visited{
  text-decoration: none;
}
</style>
<h2>HTML Table</h2>

<table>
  <tr>
    <th>Employee Code</th>
    <th>Employee Name</th>
    <th>Employee Email</th>
    <th>Active</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <% if(result.length>0){
    result.forEach(function(row){
  %>
  <tr>
    <td><%= row.EmployeeCode %></td>
    <td><%= row.EmployeeName %></td>
    <td><%= row.EmployeeEmail %></td>
    <%if(row.IsActive==true){%>
    <td>Yes</td>
    <% } else {%>
    <td>No</td>
    <%}%>
    <td><a class="update-delete" href="/api/updateEmployee?id=<%= row.id %>">Update</a></td>
    <td><a class="update-delete" href="/api/deleteEmployee?id=<%= row.id %>">Delete</a></td>
  </tr>
  <% }) } else { %>
  <h1>No Employees are there</h1>
  <%}%>
</table>
<%- include('footer')%>
